.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e0e;
    color: #fff;
}

.logo-ig-idk-lol a {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
}

.work-button-list {
    list-style-type: none;
    margin-right: 5rem;
    overflow: hidden;
}

.work-button-list li {
    float: right;
}
.work-button-list a {
    color: #9b9b9b;
    display: inline-block;
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease;
}
.work-button-list a:hover {
    color: white;
}
.work-button-list a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform .15s ease;
}
.work-button-list a:hover::before {
    transform: scaleX(1);
}