.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #111111;
}

.canvas {
  margin: 2px !important;
  padding: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: #111111;
  z-index: -1;
}